body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #B0E0E6;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    padding-top: 20px;
    text-decoration: underline;
    font-weight: bold;
    margin: 0px;
    display: inline-block;
}

p {
    font-size: 18px;
    display: inline;
    text-align: justify;
}